.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    height: 400px;
    align-items: end;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: antiquewhite;
    padding: 10px;
}

.grid-container>div {
    background-color: aqua;

}